body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(4, 0, 41);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border: solid;
    background-color: #d5d7ff;
    cursor: pointer;
}

.box:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.row {
    display: block;

}

h1 {
    display: flex;
    justify-content: center;
    padding: 3%;
    color: #d5d7ff;
}

h2 {
    margin: 5%;
    color: #d5d7ff;
}


#board {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.x {
    font-size: 100px;
    color: blue;
}

.o {
    font-size: 100px;
    color: red;
}

#cell00,
#cell01,
#cell02,
#cell10,
#cell11,
#cell12,
#cell20,
#cell21,
#cell22 {
    font-size: 100px;
}

#result {
    color: white;
    font-size: 50px;
    text-align: center;
}

#roundMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

select,
input,
#startBtn,
#resetBtn,
#restartBtn {
    appearance: none;
    border: 2;
    outline: 0;
    font: inherit;
    width: 250px;
    padding: 1rem 4rem 1rem 1rem;
    background: rgb(64, 37, 235);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(248, 248, 248, 0.2);
    margin-bottom: 2rem;
}

#resetBtn,
#restartBtn {
    width: 100%;
    cursor: pointer;
}

#resetBtn {
    background: rgb(28, 184, 28);
    color: white;
}

select {
    width: 333px;
    cursor: pointer;
}

option {
    color: white;
    background-color: rgb(4, 0, 41);
}

#startBtn {
    width: 200px;
    background: rgb(0, 0, 0);
    margin-top: 2rem;
    cursor: pointer;
}