body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(4, 0, 41);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border: solid;
    background-color: #d5d7ff;
}

.row {
    display: block;

}

h1 {
    display: flex;
    justify-content: center;
    padding: 3%;
    color: #d5d7ff;
}

h2 {
    margin: 5%;
    color: #d5d7ff;
}


#board {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.x {
    font-size: 100px;
    color: blue;
}

.o {
    font-size: 100px;
    color: red;
}